
body{
    font-family: "Roboto", sans-serif;
    background-color:rgba(172, 21, 21, 0.144); 
}

section{
    padding-top: 80px; 
}

img{
    max-width: 1100px;
    max-height:500px;  
}


.row{
    padding-top: 30px;
}

h4{
    margin-top: 50px;
}
footer{
text-align:center;
color: white;
background-color: rgba(172, 21, 21, 0.911);
padding: 10px;
margin-top: 100px;
}
#mainNav{
background-color:rgba(172, 21, 21, 0.781);
}
.navbar a {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.nav-item a{
    font-size: 15px;
    color: rgb(255, 255, 255);
}
form{

    max-width: 50%;
}

.sobre-nos img{
    max-width: 400px;
}

.container{
    margin:auto;
}

}

.nav-pills .nav-link.active{
    color: rgb(180, 19, 19);
    background-color: rgb(255, 255, 255);
}
.active i{
    color: rgba(172, 21, 21, 0.781);
}

.navbar, h2{
    font-family: "Pacifico", cursive;
}

span{
    color: rgba(172, 21, 21, 0.781);
}

.nav-cardapio{
    color: rgb(255, 255, 255);
    
}
.nav-cardapio .nav-link:hover{
    color: rgba(172, 21, 21, 0.781);
}

.text-colored{
    color: black;
}

#meucard{
    display: inline-flex;
    
}

.navbar-expand-lg .navbar-collapse{
    flex-direction: column;
    align-items: flex-end;
}
